/* Error: Undefined variable.
 *   ,
 * 4 |   color: $primary;
 *   |          ^^^^^^^^
 *   '
 *   sass\partials\components\_general.scss 4:10  @use
 *   sass\style.scss 12:1                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 4 \2502    color: $primary;\d\a   \2502           ^^^^^^^^\a   \2575 \a   sass\\partials\\components\\_general.scss 4:10  @use\a   sass\\style.scss 12:1                         root stylesheet";
}
