/* Botón Blog sección */
@mixin button($color) {
    display: inline-block;
    text-decoration: none;
    color: $color;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
  
    &:active {
      color: darken($color, 10%);
    }
  
    &:visited {
      color: darken($color, 20%);
    }
  }