/* Tipografía */
$font-family: "Raleway", serif;

/* Variables Footer */
$footer-padding: 40px 20px;
$footer-max-width: 600px;
$gap-redes: 10px;
$footer-logo-size: 394px 158px;
$icono-redes-size: 63px;
$container-width: 80%;
