/* Tipografía */
$font-family: "Raleway", serif;

/* Margin top */
$margin-top-default: 20px;

/* Colores */
$primary: #B17AF6;
$secondary: #9A63D3;
$text-dark: #231F1F;
$text-light: #ffffff;
$footer-bg: #454545;
$section-bg: #ddd;