.boton-hero {
    font-size: 90px;
    padding: 10px 20px;
    background-color: #ff5733; 
    color: #ffffff; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
}

.boton-hero:hover {
    background-color: #ff884d; 
    transform: scale(1.05);
}
