.boton-hero {
    font-size: map-get($font-sizes, button);
    padding: 10px 20px;
    background-color: map-get($colors, primary);
    color: map-get($colors, text-light);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: flex-start; 
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: $margin-top-default;

    &:hover {
        background-color: map-get($colors, secondary);
        transform: scale(1.05);
    }
}