.servicio {
  padding: 16px;
  background-color: map-get($colors, service-bg);
  border-radius: 5px;
}

.titulo-servicio {
  font-weight: bold;
  margin-top: $margin-top-default;
  color: map-get($colors, text-dark);
}

.descripcion-servicio {
  font-size: map-get($font-sizes, service-desc);
  color: map-get($colors, text-dark);
}

/* Media Queries */
@media (max-width: 768px) {
  .servicios {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}