footer {
   width: 100%;
   background-color: map-get($colors, footer-bg);
   color: map-get($colors, text-light);
   padding: map-get($spacings, padding-footer);
   display: flex;
   align-items: flex-start;
   flex-wrap: wrap;
   box-sizing: border-box;
   margin-top: auto;
 }
 
 .footer-left {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   max-width: 600px;
 }
 
 .pgrande-footer {
   font-size: map-get($font-sizes, footer-large);
   margin-bottom: map-get($spacings, margin-bottom-small);
   color: map-get($colors, text-light);
 }
 
 .redes-sociales {
   display: flex;
   gap: 10px;
   align-items: center;
   margin-bottom: map-get($spacings, margin-bottom-small);
 }
 
 .p-footer {
   font-size: map-get($font-sizes, footer-small);
   color: map-get($colors, text-light);
 }
 
 .footer-logo {
   width: 394px;
   height: 158px;
   object-fit: contain;
   margin-left: auto;
   align-self: center;
 }
 
 .img-herramienta {
   font-size: map-get($font-sizes, img-text);
   margin-bottom: map-get($spacings, margin-bottom-large);
 }
 
 .img-sinmargen {
   margin: 0;
   padding: 0;
 }
 
 .icono-redes {
   font-size: map-get($font-sizes, icon-large);
 }
 
 .section {
   width: 100%;
   min-height: 100vh;
   background-color: map-get($colors, section-bg);
 }
 
 .container {
   width: 80%;
   display: block;
   margin: auto;
   padding-top: 100px;
 }
 
 .content-section {
   float: left;
   width: 55%;
 }
 
 .image-section {
   float: right;
   width: 40%;
 }