.hero {
  @include flex(row, space-between, center, wrap, 30px);
  margin-bottom: 90px;
  padding: 70px 5%;
  margin-top: 130px;
}

.hero-text, .sobre-sofia-text {
  max-width: 60%;
  @include flex(column, flex-start, flex-start, nowrap, 10px);
}

.hero h1 {
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
}

.p-hero, .sofia-parrafo {
  font-size: 20px;
  margin: 0;
}

.hero-image, .sobre-sofia img {
  max-width: 35%;
  width: 100%;
  object-fit: cover;
  flex-grow: 1;
}

.herramientas {
  width: 80%;
  max-width: 1200px;
  height: auto;
  @include flex(row, space-between, center, wrap);
  margin: 0 auto 90px;
  padding: 20px;
}

.herramienta {
  @include flex(column, center, center);
  text-align: center;
}

.sobre-sofia {
  @include flex(row-reverse, space-between, center, wrap, 30px);
  margin-bottom: 90px;
  padding: 40px 5%;
}

@media (max-width: 768px) {
  .hero, .sobre-sofia {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 5%;
      margin-top: 140px;
  }

  .hero-text, .sobre-sofia-text {
      max-width: 100%;
      width: 100%;
  }

  .hero-title {
      font-size: 50px;
  }

  .sofia-title {
      font-size: 40px;
  }

  .hero-image, .sobre-sofia img {
      max-width: 100%;
      width: 100%;
  }
}
