.contacto-seccion { 
  margin-bottom: 50px;
}

.titulo-contacto {
  margin-bottom: 30px;
  margin-top: 140px;
  font-size: map-get($font-sizes, h3);
  font-weight: bold;
}

.parrafo-contacto {
  font-size: map-get($font-sizes, h4);
}

.img-contacto {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.contacto-div-2 form {
  max-width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-control, .form-select {
  padding: 10px;
  font-size: map-get($font-sizes, text-small);
}

.mb-3 {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: $primary; 
  border-color: $primary; 
  color: $text-light; 
  font-size: map-get($font-sizes, text-small);
}

.btn-primary:hover {
  background-color: $primary; 
  border-color: $secondary;
}

.h1-centrado-contactame {
  margin-top: 140px;
  margin-bottom: 32px; 
  text-align: center;
  font-size: map-get($font-sizes, h1);
  margin-bottom: -10px;
}

/* Media Queries */
@media (max-width: 768px) {
  .titulo-contacto, 
  .parrafo-contacto {
    text-align: center;
  }

  .h2-centrado-contactame {
    font-size: map-get($font-sizes, h3);
    margin-bottom: -50px;
    font-size: 50px;
  }

  .form-label {
    font-size: map-get($font-sizes, text-small);
    font-weight: bold;
  }

  .form-control, 
  .form-select {
    font-size: 16px;
    padding: 8px;
  }

  .img-contacto {
    width: 100%;
  }

  .btn-primary {
    font-size: map-get($font-sizes, p);
    padding: 12px;
  }

  .h1-centrado-contactame {
    font-size: 50px;
    margin-bottom: -100px;
  }
}