/* Mixins */
@mixin font-style($size: 16px, $weight: normal, $style: normal) {
    font-size: $size;
    font-weight: $weight;
    font-style: $style;
  }
  
  @mixin button-style($bg-color, $border-color, $text-color) {
    background-color: $bg-color;
    border-color: $border-color;
    color: $text-color;
  
    &:hover {
      background-color: darken($bg-color, 10%);
      border-color: darken($border-color, 10%);
    }
  }
  
  /* Estilos */
  .contacto-seccion {
    margin-bottom: 50px;
  }
  
  .titulo-contacto {
    margin-bottom: 30px;
    @include font-style(40px, bold, italic);
  }
  
  .parrafo-contacto {
    @include font-style(20px);
  }
  
  .img-contacto {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
  
  .contacto-div-2 form {
    max-width: 100%;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control, 
  .form-select {
    padding: 10px;
    @include font-style(16px);
  }
  
  .mb-3 {
    margin-bottom: 15px;
  }
  
  .btn-primary {
    @include button-style(#B17AF6, #B17AF6, white);
  }
  
  .h2-centrado-contactame {
    text-align: center;
    @include font-style(60px, 700);
    margin-top: 150px;
    margin-bottom: -40px;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .titulo-contacto, 
    .parrafo-contacto {
      text-align: center;
    }
  
    .h2-centrado-contactame {
      @include font-style(50px);
      margin-bottom: -50px;
    }
  
    .form-label {
      @include font-style(18px, bold);
    }
  
    .form-control, 
    .form-select {
      @include font-style(16px);
      padding: 8px;
    }
  
    .img-contacto {
      width: 100%;
    }
  
    .btn-primary {
      @include font-style(18px);
      padding: 12px;
    }
  }
  