.img-centrada {
  display: block;
  margin: 40px auto;
}

.noticia-p {
  margin-bottom: 20px;
  font-size: map-get($font-sizes, p);
}

.blog-seccion {
  margin: 90px;
  padding: 80px;
  margin-top: -80px;
}

.noticia-1, .noticia-2, .noticia-3 {
  margin-bottom: 100px;
}

.titulo-blog {
  font-weight: bold;
}

.boton-blog {
  display: inline-block;
  text-decoration: none;
  color: $primary;
  font-size: map-get($font-sizes, p);
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 20px;

  &:active {
    color: $primary;
  }

  &:visited {
    color: $secondary;
  }
}

/* Media Queries */
@media (max-width: 768px) {
  .img-centrada {
    width: 324px;
    height: 257px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }

  .blog-seccion {
    margin: 40px 20px;
    padding: 40px;
    text-align: center;
    margin-top: -70px;
  }

  .titulo-blog {
    font-size: map-get($font-sizes, h3);
    font-weight: bold;
    text-align: center;
  }

  .h2-centrado {
    font-size: map-get($font-sizes, h2);
    margin-bottom: -20px;
  }

  .noticia-p {
    text-align: center;
    font-size: map-get($font-sizes, text-small);
  }

  .noticia-1, .noticia-2, .noticia-3 {
    margin-bottom: 50px;
  }
}