.hero {
  @include flex(row, space-between, center, wrap, 30px);
  margin-bottom: 90px;
  padding: 40px 5%;
  margin-top: 130px;
}

html, body {
  overflow-x: hidden;
  width: 100%;
}

.hero-text {
  max-width: 60%;
  @include flex(column, flex-start, flex-start, nowrap, 10px);
}

.hero h1 {
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
  color: $primary;
  font-size: map-get($font-sizes, h1);
}

.p-hero {
  font-size: map-get($font-sizes, p);
  margin: 0;
}

.boton-hero { 
  font-size: map-get($font-sizes, p-small);
  padding: 10px 20px;
  background-color: $primary;
  color: $text-light;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;

  &:hover {
    background-color: $secondary;
    transform: scale(1.05);
  }
}

.hero-image {
  max-width: 35%;
  width: 100%;
  min-width: 300px;
  object-fit: cover;
  flex-grow: 1;
}

.herramientas {
  width: 80%;
  max-width: 1200px;
  height: auto;
  @include flex(row, space-between, center, wrap);
  margin: 0 auto 90px;
  padding: 20px;
}

.herramienta {
  @include flex(column, center, center);
  text-align: center;
  height: 100%;
}

.porcentaje {
  font-weight: bold;
}

.h2-centrado-herramientas {
  text-align: center;
  font-size: map-get($font-sizes, h2);
}

.sobre-sofia {
  @include flex(row-reverse, space-between, center, wrap, 30px);
  margin-bottom: 90px;
  padding: 40px 5%;
}

.sobre-sofia-text {
  max-width: 60%;
  @include flex(column, flex-start, flex-end, nowrap, 10px);
  text-align: right;
  font-size: map-get($font-sizes, h2);
}

.sobre-sofia img {
  max-width: 35%;
  width: 100%;
  object-fit: cover;
}

.sofia-parrafo {
  font-size: map-get($font-sizes, p);
}

.banner-final {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    margin-top: 140px;
  }

  .hero-text,
  .sobre-sofia-text {
    max-width: 100%;
    width: 100%;
    font-size: 18px;
  }

  .boton-hero {
    font-size: map-get($font-sizes, p);
  }

  .sofia-parrafo {
    font-size: map-get($font-sizes, p);
  }

  .hero-title {
    font-size: map-get($font-sizes, h3);
  }

  .sofia-title {
    font-size: 40px;
  }

  .sobre-sofia {
    margin-top: -60px;
  }

  .h2-centrado-herramientas {
    font-size: 40px;
    text-align: center;
  }

  .hero-image,
  .sobre-sofia img {
    max-width: 100%;
    width: 100%;
  }

  .banner-final {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .banner-final img {
    width: clamp(300px, 100%, 1200px);
    height: auto;
    object-fit: cover;
  }

  .footer-logo {
    width: 394px;
    height: 158px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }

  .hero h1 {
    font-size: 60px;
    margin-bottom: 10px;
  }

  .home .footer-logo {
    width: 394px;
    height: 158px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}