 /* Google Fonts - Raleway */
 @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

 /* CSS General */
 * {
     margin: 0;
     padding: 0;
 }
 
 body {
     background-color: #ffffff;
     font-family: "Raleway", serif;
 }
 
 /* Header */
 h1 {
     font-size: 90px;
     color: #B17AF6;
     font-weight: 900;
     margin-bottom: 20px;
 }
 
 h2 {
     font-size: 60px;
     font-weight: 700;
     margin-bottom: 20px;
 }
 
 .h2-centrado {
     margin: 30px;
     text-align: center;
     margin-bottom: 60px;
 }
 
 h3 {
     font-size: 30px;
     margin-bottom: 20px;
 }
 
 h4 {
     font-size: 30px;
 }
 
 p {
     font-size: 25px;
     color: #231F1F;
 }
 
 /* Footer */
 footer {
    width: 100%;
    background-color: #454545;
    color: white;
    padding: 40px 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-top: auto; /* Esto empuja el footer hacia abajo */
}
 
 
 .footer-left {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     max-width: 600px; 
 }
 
 .pgrande-footer {
     font-size: 25px;
     margin-bottom: 10px;
     color: #ffffff;
 }
 
 .redes-sociales {
     display: flex;
     gap: 10px;
     margin-bottom: 10px;
 }
 
 .p-footer {
     font-size: 15px;
     color: #ffffff;
 }
 
 .footer-logo {
     width: 394px;
     height: 158px;
     object-fit: contain;
     margin-left: auto;
     align-self: center;
 }
 
 .img-herramienta {
     font-size: 20px;
     margin-bottom: 20px;
 }
 
 .img-sinmargen {
     margin: 0;
     padding: 0;
 }
 
 .icono-redes {
     font-size: 63px;
 }
 
 .section {
     width: 100%;
     min-height: 100vh;
     background-color: #ddd;
 }
 
 .container {
     width: 80%;
     display: block;
     margin: auto;
     padding-top: 100px;
 }
 
 .content-section {
     float: left;
     width: 55%;
 }
 
 .image-section {
     float: right;
     width: 40%;
 }
 
 .navbar {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 1000;
     background-color: rgba(255, 255, 255, 0.9);
     padding: 20px 0; 
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
 }
 
 .navbar.scrolled {
     background-color: #ffffff; 
     box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
 }
 
 .burger-icon {
     width: 30px; 
     height: auto;
     fill: #231F1F; 
 }
 
 .navbar-toggler {
     border: none;
     background: none;
 }
 
 .navbar-nav {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 16px;
 }
 
 .navbar-nav .nav-item .nav-link {
     color: #231F1F; 
     font-size: 18px; 
     text-decoration: none;
 }
 
 .navbar-nav .nav-item .nav-link:hover {
     color: #B17AF6; 
 }
 
 body {
     margin: 0;
     padding: 0;
     min-height: 100vh; 
     display: flex;
     flex-direction: column;
 }
 
 main {
     flex: 1; 
 }
 
 
 
 /* Secci贸n Home */
 .hero {
     display: flex;
     align-items: center;
     justify-content: space-between;
     gap: 30px;
     margin-bottom: 90px;
     flex-wrap: wrap;
     padding-top: 70px; 
     margin: 90px;
     padding: 80px;
 }
 
 .hero-text {
     max-width: 60%;
     display: flex;
     flex-direction: column;
     gap: 10px; 
 }
 
 .hero h1 {
     text-align: left;
     margin: 0; 
     padding-bottom: 5px; 
 }
 
 .p-hero {
     font-size: 20px;
     margin: 0; 
 }
 
 .boton-hero {
     font-size: 20px;
     padding: 10px 20px;
     background-color: #B17AF6;
     color: #ffffff;
     border: none;
     border-radius: 20px;
     cursor: pointer;
     align-self: flex-start; 
     transition: background-color 0.3s ease, transform 0.2s ease; 
 }
 
 .boton-hero:hover {
     background-color: #9A63D3; 
     transform: scale(1.05); 
 }
 
 .hero-image {
     max-width: 35%;
     width: 100%;
     object-fit: cover;
 }
 
 .herramientas {
     width: 80%;
     max-width: 1200px; 
     height: auto; 
     display: flex;
     flex-wrap: wrap; 
     flex-direction: row;
     justify-content: space-between;
     align-items: center; 
     margin: 0 auto;
     padding: 20px;
     margin-bottom: 90px;
 }
 
 .herramienta {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     text-align: center;
     height: 100%; 
 }
 
 .sobre-sofia {
     display: flex;
     justify-content: space-between;
     align-items: center;
     gap: 30px;
     margin-bottom: 90px;
     flex-wrap: wrap;
     flex-direction: row-reverse; 
     margin: 90px;
     padding: 80px;
 }
 
 .sobre-sofia-text {
     max-width: 60%;
     display: flex;
     flex-direction: column;
     gap: 10px;
     text-align: right; 
 }
 
 .Sofia {
     text-align: right; 
     margin: 0;
     padding-bottom: 5px;
     font-size: 30px;
 }
 
 .sobre-sofia p {
     margin: 0;
     font-size: 20px;
     text-align: right; 
 }
 
 .sobre-sofia img {
     max-width: 35%;
     width: 100%;
     object-fit: cover;
 }
 
 /* Banner Final */
 .banner-final {
     width: 100% !important;
     margin: 0 !important;
     padding: 0 !important;
     display: flex;
     justify-content: center;
 }
 
/*  Media Queries - Home Secci贸n */
@media (max-width: 768px) {

    /*  Secci贸n Hero */
    .hero {
        height: auto; /* Evita que sea demasiado alto en mobile */
        padding: 40px 20px; /* Espaciado mejor distribuido */
    }

    .hero-title {
        font-size: 80px;
        flex-direction: column;
        text-align: center;
        gap: 5px;
    }

    .hero-text {
        max-width: 95%;
        text-align: center;
    }

    .p-hero {
        margin-top: 20px;
        max-width: 95%;
        font-size: 18px;
        text-align: center;
    }

    .boton-hero {
        margin-top: 30px;
    }

    .hero-image {
        max-width: 100%; /* Asegura que ocupe todo el ancho en mobile */
        width: 100%;
        object-fit: cover;
    }

    /*  Secci贸n Sobre Sof铆a */
.sobre-sofia {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 95%;
    margin: 0 auto; /* Centrar la secci贸n */
    margin-top: -60px;
}

.sofia-title {
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px; /* Separaci贸n con el p谩rrafo */
}

.sofia-parrafo {
    font-size: 18px;
    text-align: center;
    max-width: 80%;
    line-height: 1.5; /* Mejora la legibilidad */
    margin-bottom: 20px; /* Espaciado antes de la imagen */
}

.sobre-sofia img {
    max-width: 80%; /* Ajusta el tama帽o de la imagen */
    width: auto;
    height: auto;
    object-fit: cover;
}

    .footer-logo {
        display: block;
        margin: 20px auto 0 auto; /* Centra horizontalmente */
    }

    /*  Estilos generales */
    .h2-centrado {
        font-size: 40px;
        text-align: center;
        word-break: break-word;
    }
}




/* Servicios Secci贸n */
.servicios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 80px;
}

.servicio {
    padding: 16px;
    background-color: #FFFAFF;
    border-radius: 5px;
}

.h2-centradoSERVICIOS {
    margin-bottom: -170px;
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.imagen-servicio {
    margin-bottom: 20px;
}

.titulo-servicios {
    margin-bottom: 10px;
    text-align: center;
}

.tercera-seccion {
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
}

.segunda-seccion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 90px;
    flex-wrap: wrap;
    margin: 90px;
    padding: 80px;
}

.segunda-seccion-texto {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.titulo-servicios {
    text-align: left;
    margin: 0;
    padding-bottom: 5px;
    font-size: 30px;
    font-size: 18px;
}

.descripcion-servicios {
    margin: 0;
    font-size: 20px;
    text-align: left;
}

.imagen-servicios {
    max-width: 35%;
    width: 100%;
    object-fit: cover;
}

/* Media Queries */

/* Para tablet y dispositivos de tama帽o medio */
@media (max-width: 1024px) {
    .servicios {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablet */
    }
}

/* Para la versi贸n m贸vil */
@media (max-width: 768px) {
    /* Ajustes para la secci贸n de servicios */
    .servicios {
        grid-template-columns: 1fr; /* Una sola columna en m贸vil */
        gap: 20px; /* Reducir el espacio entre las tarjetas */
        max-width: 100%; /* Asegura que ocupe todo el ancho disponible */
        margin: 0 auto;
        margin-bottom: 40px; /* Menor margen inferior */
        padding: 15px; /* Reducir el padding en m贸vil */
    }

    /* Ajustes para la segunda secci贸n */
    .segunda-seccion {
        flex-direction: column; /* Cambiar la direcci贸n de los elementos en m贸vil */
        align-items: flex-start;
    }

    .segunda-seccion-texto {
        max-width: 100%; /* Asegura que el texto ocupe todo el espacio disponible */
    }

    .imagen-servicios {
        max-width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
        width: 100%;
        height: auto; /* Mantiene la proporci贸n de la imagen */
        object-fit: cover; /* Mantiene la imagen completamente recortada para llenar el contenedor */
    }

    /* Ajustes para los t铆tulos y descripci贸n */
    .titulo-servicios {
        text-align: center; /* Centrar el t铆tulo en m贸vil */
        font-size: 28px; /* Ajustar el tama帽o del texto */
        margin: 0;
        padding-bottom: 10px; /* Ajustar el padding si es necesario */
    }

    .descripcion-servicios {
        margin: 0;
        font-size: 18px; /* Ajustar el tama帽o del texto */
        text-align: center; /* Centrar el texto */
        max-width: 90%; /* Asegura que ocupe m谩s el ancho */
        margin-left: auto; /* Centrar con m谩rgenes autom谩ticos */
        margin-right: auto;
    }
}



/* Secci贸n de Proyectos */
.primera-seccion {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas por fila */
    gap: 32px; /* Espacio entre proyectos */
    max-width: 1100px;
    margin: 0 auto;
    margin-bottom: 90px;
    padding: 0 15px; /* Ajustar padding a 15px para no afectar la grilla */
}

/* Estilo para cada proyecto */
.proyecto {
    padding: 16px;
    background-color: #FFFAFF;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Estilo de las im谩genes */
.img-proyectos {
    max-width: 100%; /* Asegura que la imagen ocupe todo el ancho disponible */
    height: auto; /* Mantiene la proporci贸n */
    object-fit: cover; /* Mantiene la imagen recortada si es necesario */
    margin-bottom: 16px; /* Espacio entre la imagen y el t铆tulo */
}

/* T铆tulo de los proyectos */
.titulo-proyecto {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Ajusta el color seg煤n tu dise帽o */
}

/* Media query para pantallas m谩s peque帽as */
@media (max-width: 1024px) {
    .primera-seccion {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en tablets */
    }
}

@media (max-width: 768px) {
    .primera-seccion {
        grid-template-columns: 1fr; /* 1 columna en m贸viles */
        gap: 20px; /* Reducir el espacio entre los proyectos */
    }
}






/* Contacto Secci贸n */
.contacto-seccion {
    margin-bottom: 50px;
}

.titulo-contacto {
    margin-bottom: 30px;
    font-size: 40px;
}

.img-contacto {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.contacto-div-2 form {
    max-width: 100%;
}

.form-label {
    font-weight: bold;
}

.form-control, .form-select {
    padding: 10px;
    font-size: 16px;
}

.mb-3 {
    margin-bottom: 15px !important;
}

.btn-primary {
    padding: 10px;
    font-size: 16px;
}



/* Blog Secci贸n */
.img-centrada {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.noticia-p {
    margin-bottom: 20px;
}

.blog-seccion {
    margin-bottom: 60px;
}





