@charset "UTF-8";
/* BASE */
/* Google Fonts - Raleway */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/* UTILITIES */
/* Tipografía */
/* Flex */
/* Estilo de fuente */
/* Colores */
/* COMPONENTES */
h1 {
  font-size: 90px;
  color: #B17AF6;
  font-weight: 900;
  margin-bottom: 20px;
}

h2 {
  font-size: 60px;
  font-weight: 700;
  margin-bottom: 20px;
}

.h2-centrado {
  margin: 30px;
  text-align: center;
  margin-bottom: 60px;
  margin-top: 150px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 26px;
}

p {
  font-size: 25px;
  color: #231F1F;
}

.boton-hero {
  font-size: 90px;
  padding: 10px 20px;
  background-color: #B17AF6;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
  font-style: normal;
}

.boton-hero:hover {
  background-color: #9A63D3;
  transform: scale(1.05);
}

.boton-blog {
  display: inline-block;
  text-decoration: none;
  color: #B17AF6;
  font-size: 30px;
  font-style: normal;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 20px;
}

.boton-blog:active {
  color: #B17AF6;
}

.boton-blog:visited {
  color: #B17AF6;
}

.card {
  background-color: #ddd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-style: normal;
}

.card-title {
  font-size: 30px;
  font-weight: bold;
  color: #231F1F;
  font-style: normal;
}

.card-text {
  font-size: 25px;
  color: #231F1F;
  font-style: normal;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar.scrolled {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.navbar .logo-header {
  width: 150px;
}
.navbar .burger-icon {
  width: 30px;
  height: auto;
  fill: #231F1F;
  margin-left: 20px;
}
.navbar .navbar-toggler {
  border: none;
  background: none;
}
.navbar .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.navbar .navbar-nav .nav-item .nav-link {
  color: #231F1F;
  font-size: 18px;
  text-decoration: none;
}
.navbar .navbar-nav .nav-item .nav-link:hover {
  color: #B17AF6;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  width: 100%;
  background-color: #454545;
  color: #ffffff;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0;
  box-sizing: border-box;
  margin-top: auto;
}
footer .footer-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 0;
  max-width: 600px;
}
footer .pgrande-footer {
  font-size: 25px;
  margin-bottom: 10px;
  color: #ffffff;
  font-style: normal;
}
footer .redes-sociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 10px;
}
footer .p-footer {
  font-size: 18px;
  color: #ffffff;
  font-style: normal;
}
footer .footer-logo {
  width: 394px;
  height: 158px;
  object-fit: contain;
  margin-left: auto;
  align-self: center;
}

/* PÁGINAS */
.blog-seccion {
  margin: 90px;
  padding: 80px;
  margin-top: -80px;
}
.blog-seccion .titulo-blog {
  font-weight: bold;
}
.blog-seccion .noticia-p {
  margin-bottom: 20px;
  font-size: 25px;
}
.blog-seccion .noticia-1, .blog-seccion .noticia-2, .blog-seccion .noticia-3 {
  margin-bottom: 100px;
}

.img-centrada {
  display: block;
  margin: 40px auto;
}

.boton-blog {
  display: inline-block;
  text-decoration: none;
  color: #B17AF6;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
  margin-top: 20px;
}
.boton-blog:active {
  color: #B17AF6;
}
.boton-blog:visited {
  color: #9A63D3;
}

/* Media Queries */
@media (max-width: 768px) {
  .blog-seccion {
    margin: 40px 20px;
    padding: 40px;
    text-align: center;
    margin-top: -70px;
  }
  .blog-seccion .titulo-blog {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
  }
  .blog-seccion .h2-centrado {
    font-size: 60px;
    margin-bottom: -20px;
  }
  .blog-seccion .noticia-p {
    text-align: center;
    font-size: 18px;
  }
  .blog-seccion .noticia-1, .blog-seccion .noticia-2, .blog-seccion .noticia-3 {
    margin-bottom: 50px;
  }
  .img-centrada {
    width: 324px;
    height: 257px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 30px;
  }
}
.contacto-seccion {
  margin-bottom: 50px;
}

.titulo-contacto {
  margin-bottom: 30px;
  margin-top: 140px;
  font-size: 30px;
  font-weight: bold;
}

.parrafo-contacto {
  font-size: 26px;
}

.img-contacto {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
}

.contacto-div-2 form {
  max-width: 100%;
}

.form-label {
  font-weight: bold;
}

.form-control, .form-select {
  padding: 10px;
  font-size: 18px;
}

.mb-3 {
  margin-bottom: 15px;
}

.btn-primary {
  background-color: #B17AF6;
  border-color: #B17AF6;
  color: #ffffff;
  font-size: 18px;
}

.btn-primary:hover {
  background-color: #B17AF6;
  border-color: #9A63D3;
}

.h2-centrado-contactame {
  margin-bottom: -170px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin-top: 150px;
  margin-bottom: -40px;
}

/* Media Queries */
@media (max-width: 768px) {
  .titulo-contacto,
  .parrafo-contacto {
    text-align: center;
  }
  .h2-centrado-contactame {
    font-size: 30px;
    margin-bottom: -50px;
    font-size: 50px;
  }
  .form-label {
    font-size: 18px;
    font-weight: bold;
  }
  .form-control,
  .form-select {
    font-size: 16px;
    padding: 8px;
  }
  .img-contacto {
    width: 100%;
  }
  .btn-primary {
    font-size: 25px;
    padding: 12px;
  }
}
.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 90px;
  padding: 40px 5%;
  margin-top: 130px;
}

.hero-text {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 10px;
}

.hero h1 {
  text-align: left;
  margin: 0;
  padding-bottom: 5px;
  font-size: 90px;
}

.p-hero {
  font-size: 25px;
  margin: 0;
}

.boton-hero {
  font-size: 20px;
  padding: 10px 20px;
  background-color: #B17AF6;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  align-self: flex-start;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}
.boton-hero:hover {
  background-color: #9A63D3;
  transform: scale(1.05);
}

.hero-image {
  max-width: 35%;
  width: 100%;
  min-width: 300px;
  object-fit: cover;
  flex-grow: 1;
}

.herramientas {
  width: 80%;
  max-width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0;
  margin: 0 auto 90px;
  padding: 20px;
}

.herramienta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  text-align: center;
  height: 100%;
}

.porcentaje {
  font-weight: bold;
}

.h2-centrado-herramientas {
  text-align: center;
  font-size: 60px;
}

.sobre-sofia {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 90px;
  padding: 40px 5%;
}

.sobre-sofia-text {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: nowrap;
  gap: 10px;
  text-align: right;
  font-size: 60px;
}

.sobre-sofia img {
  max-width: 35%;
  width: 100%;
  object-fit: cover;
}

.sofia-parrafo {
  font-size: 20px;
}

.banner-final {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5%;
    margin-top: 140px;
  }
  .hero-text,
  .sobre-sofia-text {
    max-width: 100%;
    width: 100%;
    font-size: 18px;
  }
  .boton-hero {
    font-size: 25px;
  }
  .sofia-parrafo {
    font-size: 25px;
  }
  .hero-title {
    font-size: 30px;
  }
  .sofia-title {
    font-size: 40px;
  }
  .sobre-sofia {
    margin-top: -60px;
  }
  .h2-centrado-herramientas {
    font-size: 40px;
    text-align: center;
  }
  .hero-image,
  .sobre-sofia img {
    max-width: 100%;
    width: 100%;
  }
  .banner-final {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .banner-final img {
    width: clamp(300px, 100%, 1200px);
    height: auto;
    object-fit: cover;
  }
  .footer-logo {
    width: 394px;
    height: 158px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
  .home .footer-logo {
    width: 394px;
    height: 158px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}
.primera-seccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  max-width: 1100px;
  margin: 0 auto 90px;
  padding: 0 15px;
}
.primera-seccion .proyecto {
  padding: 16px;
  background-color: rgb(246.5, 246.5, 246.5);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0;
  text-align: center;
}
.primera-seccion .proyecto .img-proyectos {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  margin-bottom: 16px;
}
.primera-seccion .proyecto .titulo-proyecto {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #231F1F;
}

/* Media Queries */
@media (max-width: 1024px) {
  .primera-seccion {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .primera-seccion {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .h2-centrado {
    margin-bottom: 60px;
    font-size: 50px;
  }
}
.seccion-servicios {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 5%;
}

.h2-centradoSERVICIOS {
  margin-top: 140px;
  margin-bottom: 32px;
  text-align: center;
  font-size: 60px;
}

.servicios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.servicio {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 5px;
}

.titulo-servicio {
  font-weight: bold;
  margin-top: 20px;
}

.descripcion-servicio {
  font-size: 25px;
}

.segunda-seccion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding: 40px 5%;
}

.segunda-seccion-texto {
  max-width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.imagen-servicios {
  max-width: 35%;
  width: 100%;
  object-fit: cover;
}

.descripcion-servicios {
  font-size: 20px;
}

/* Media Queries */
@media (max-width: 768px) {
  .servicios {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .segunda-seccion {
    flex-direction: column;
    align-items: flex-start;
  }
  .segunda-seccion-texto {
    max-width: 100%;
    width: 100%;
    font-size: 20px;
  }
  .h2-centradoSERVICIOS {
    font-size: 50px;
  }
  .descripcion-servicios {
    font-size: 18px;
  }
  .titulo-servicios {
    font-size: 40px;
  }
  .imagen-servicios {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .banner-final {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
  .servicios .footer-logo {
    width: 394px;
    height: 158px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
  }
}

/*# sourceMappingURL=style.css.map */
